* {
  margin: 0;
  padding: 0;
}

.list-tabs__item {
  .el-tabs__nav {
    width: 100%;
    display: flex;
  }

  .el-tabs__item {
    flex: 1;
    text-align: center;
  }
}

// wang Editor 样式层级设置
.w-e-toolbar {
  z-index: 3 !important;
}
.w-e-menu {
  z-index: 2 !important;
}
.w-e-text-container {
  z-index: 1 !important;
}
